In [2]:
import snowflake.connector

con = snowflake.connector.connect(account='lt51601.europe-west2.gcp', database='MY_CUSTOM_APP', connection_name='default', host='localhostcomputing.com', port='8084', role='ACCOUNTADMIN')
cur = con.cursor()

In [ ]:
con.cursor().execute("show tables").fetch_pandas_all()

In [6]:
con.cursor().execute("select count(*) from my_iceberg_jinjat.tpch_sf1.orders_iceberg_tpch_sf1000").fetch_pandas_all()

   count_star()
0    1500000000

In [4]:
con.cursor().execute("select O_ORDERDATE, count(O_CLERK) from my_iceberg_jinjat.tpch_sf1.orders_iceberg_tpch_sf1000 group by all order by 1 desc limit 1000").fetch_pandas_all()