In [6]:
import snowflake.connector

con = snowflake.connector.connect(account='lt51601.europe-west2.gcp', 
                                  database='my_iceberg_jinjat', connection_name='default',
                                  host='localhostcomputing.com', 
                                  port='8084', role='ACCOUNTADMIN')
cur = con.cursor()

In [9]:
con.cursor().execute("show tables in schema tpch_sf1").fetch_pandas_all()

,created_on,name,database_name,schema_name,kind,comment,cluster_by,rows,bytes,owner,...,change_tracking,is_external,enable_schema_evolution,owner_role_type,is_event,budget,is_hybrid,is_iceberg,is_dynamic,is_immutable
0,292278994-08-16 23:12:55.807000-08:00,CUSTOMER,MY_ICEBERG_JINJAT,TPCH_SF1,TABLE,,,600000,43210240,ACCOUNTADMIN,...,ON,N,N,ROLE,N,None,N,N,N,N
1,292278994-08-16 23:12:55.807000-08:00,DYNAMIC_ICEBERG_TABLE_CUSTOMER,MY_ICEBERG_JINJAT,TPCH_SF1,TABLE,,,600000,42527232,ACCOUNTADMIN,...,ON,N,N,ROLE,N,None,N,Y,Y,N
2,292278994-08-16 23:12:55.807000-08:00,DYNAMIC_TABLE_CUSTOMER,MY_ICEBERG_JINJAT,TPCH_SF1,TABLE,,,600000,58829312,ACCOUNTADMIN,...,ON,N,N,ROLE,N,None,N,N,Y,N
3,292278994-08-16 23:12:55.807000-08:00,ORDERS_ICEBERG_TPCH_SF1000,MY_ICEBERG_JINJAT,TPCH_SF1,TABLE,,,1500000000,42525678592,ACCOUNTADMIN,...,OFF,N,N,ROLE,N,None,N,Y,N,N
4,292278994-08-16 23:12:55.807000-08:00,TEST_TABLE_MANAGED,MY_ICEBERG_JINJAT,TPCH_SF1,TABLE,,,0,0,ACCOUNTADMIN,...,OFF,N,N,ROLE,N,None,N,Y,N,N

In [6]:
con.cursor().execute("select count(*) from my_iceberg_jinjat.tpch_sf1.orders_iceberg_tpch_sf1000").fetch_pandas_all()

   count_star()
0    1500000000

In [4]:
con.cursor().execute("select O_ORDERDATE, count(O_CLERK) from my_iceberg_jinjat.tpch_sf1.orders_iceberg_tpch_sf1000 group by all order by 1 desc limit 1000").fetch_pandas_all()